body{
	background-color:#00bfff;
}

#container {
    width: 50%;
    background-color: #00bfff;
    margin: 0 auto;
  }

h1 {
  color: #ffffff;
    font-family: Georgia, "Times New Roman", serif;
}

p {
  color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
}

p {
  color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
}

p {
  color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
}

#nav li {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
}

#nav a:link, a:visited {
  display:block;
    color: #ffffff;
    font-weight: bold;
    text-align:left;
    text-decoration: none;
    padding: 20px;
    font-family: Helvetica, Arial, sans-serif;
}
