body{
	background-color:#00bfff;
	text-align: center;
}

h1 {
  color: #ffffff;
    font-family:'Fredericka the Great',cursive;
		font-size: 3em
}

p {
  color: #ffffff;
    font-family:'Open Sans Condensed', sans-serif;
		font-size: 1.5em
		
}

img {
	border-style: none;
}

#container {
    width: 85%;
    background-color: #ee82ee;
    margin: 0 auto;
  }

#nav {
	  padding: 0;
	}

#nav li {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 33%;
}

#nav a:link, a:visited {
  display:block;
    color: #000000;
		background-color: #3cb371;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 8px;
    font-family:'Josefin Slab', serif;
}

#nav a:hover, a:active {
    background-color: #7b68ee;
		color: #2f4f4f
}

#footer {
    color: white;
    font-family:'Fredericka the Great', cursive;
    font-size: 1em;
    border-top: 1px solid black;
}
